<header>
    <div class="header_container">
        <img src="assets/img/image-1212.png" alt="Logo" id="logo">
        <h1>Ryota Nakamura - Works</h1>
    </div>

    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="Works.html">Works</a></li>
            <li><a href="About.html">About</a></li>
        </ul>
    </nav>

    <!-- <div x-data="{ open: false }" id="menu">
        <button @click="open = !open" id="menu_button">
            <img src="assets/img/image-1212.png" alt="Menu" id="logo">
        </button> -->

        <!-- <div x-show="open" @click.outside="open = false" id="menu_items">
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="Works.html">Works</a></li>
                <li><a href="About.html">About</a></li>
            </ul>
        </div> -->
    <!-- </div> -->


</header>